html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;    
    border: none;
}

.barra-lateral{
    height: 100vh;
    position: sticky;
    font-size: 2rem;
}

.barra-lateral p{
    padding-left: 15px;
}

.barra-lateral a{
    height: 40px;
    color: var(--black-color);
    transition: ease-in-out 200ms all;
}

.barra-lateral a:hover{
    color: var(--black-color);
    text-decoration: none;

    transform: scale(1.02);
}


.barra-lateral a > img{
    height: 31px;
}


#pfp_usuario{
    height: 40px;
    border-radius: 100px;
}

.logo {
    width: 180px;
    margin-bottom: 40%;
}

.btn-laranja {
    height: 45px;
    font-size: 2rem;
    color: var(--white-color);
    display: block;
    background: linear-gradient(30deg, var(--orange-color), var(--orange-dark));
    padding: 8px;
    border-radius: 30px;
    transition: all 200ms ease-in-out;
}

.btn-laranja:hover{
    color: var(--white-color);
    text-decoration: none;
    transform: scale(1.05);
}

.btn-laranja:focus{
    outline: none;
}

.btn-laranja-outline {
    background-color: var(--white-color);
    font-size: 2rem;
    color: var(--orange-color);
    display: block;
    border: 3px solid var(--orange-color);
    padding: 6px;
    border-radius: 30px;
    transition: all 200ms ease-in-out;
}

.btn-laranja-outline:hover{
    color: var(--white-color);
    background-color: var(--orange-color);
    transform: scale(1.05);
}

.btn-laranja-outline:focus{
    outline: none;
}

.btn-laranja-redondo {
    height: 45px;
    background: linear-gradient(30deg, var(--orange-color), var(--orange-dark));
    padding: 8px;
    border-radius: 80px;
    transition: all 200ms ease-in-out;
}

.btn-laranja-redondo:hover{
    color: var(--white-color);
    text-decoration: none;
    transform: scale(1.05);
}

.btn-laranja-redondo:focus{
    outline: none;
}

.pfp-pic{
    height: 40px;
    border-radius: 50px;
}

.pfp-pic-msg{
    height: 30px;
    border-radius: 50px;
}

.username{
    font-size: 1.6rem;
}

.icon-btn{
    height: 30px;
}

.chat-main{
    height: 100vh;
    background: linear-gradient(90deg, var(--light-yellow-color), var(--light-orange-color));
}


.barra-mensagem {
    
    padding-top: 10px;
    padding-bottom: 40px;
}

.barra-mensagem button {
    background-color: transparent;
    border: 3px solid var(--white-color);
    border-radius: 30px;
    padding:5px;
    
    transition: 200ms all ease-in-out;
}

.barra-mensagem button:hover {
    transform: scale(1.1);
}

.barra-mensagem button:focus {
    outline: none;
}


.barra-mensagem a {
    background-color: transparent;
    border: 3px solid var(--white-color);
    border-radius: 30px;
    padding:5px;
    
    transition: 200ms all ease-in-out;
}

.barra-mensagem a:hover {
    transform: scale(1.1);
    text-decoration: none;
}

#input_mensagem{
    min-width: none;
    width: 70vw;
    padding-block: 10px ;
    padding-inline: 25px;
    font-size: 2rem;
    border-radius: 100px;
}

#input_mensagem:focus{
    outline-color: var(--gray-color);
}

.barra-topo {
    width: 97%;
    height: 15%;
    border-radius: 15px;
}

.connect-info {
    font-size: 2.3rem;
}

.img-connect {
    height: 55px;
}

.chat{
    width: 97%;
    padding-block: 15px;
    height: 75vh;
    overflow-y: auto; 
    overflow-x: hidden; 
}

.mensagem {
    width: max-content;
    max-width: 55%;
    border-radius: 5px;
    font-size: 2rem;
    background-color: var(--more-light-yellow-color);
}

.user-msg {
    font-weight: 600;
}

.hora-msg{
    font-size: 1.5rem;
}

.recebida{
    height: min-content;
    width: 100%;
    justify-content: start;
}

.enviada{
    height: min-content;
    width: 100%;
    justify-content: end;
}




.enquete-container {
    background-color: var(--more-light-yellow-color);
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    max-width: 55%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.enquete-titulo {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--medium-yellow-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: var(--black-color);
}

.opcao {
    margin-bottom: 15px;
    font-size: 2rem;
}

.opcao-nome {
    margin-bottom: 5px;
    color: var(--black-color);
}
.barra {
    background-color: var(--white-color);
    height: 8px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.barra-preenchida {
    background-color: var(--vibrant-yellow-color);
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.card-chat{
    width: 60%;
    height: 100%; 
    min-height: min-content !important;
    border-radius: 15px;
}

.lista{
    font-size: 2rem;
}

.img-connect{
    height: 100px;
    width: 100px;
    border-radius: 200px;
}

.alterar-img{
    font-size: 1.5rem;
}

.main {
    min-height: 100vh;
}

.chat-main-info-participantes{
    min-height: min-content !important;
    background: linear-gradient(90deg, var(--light-yellow-color), var(--light-orange-color));
}

.custom-file-button {
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--more-light-orange-color); /* Cor do botão */
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    text-align: center;
}

.custom-file-button:hover {
    background-color: var(--light-orange-color); /* Cor ao passar o mouse */
}

.input-image{
    display: none;
}


.btn-popover {
    background-color: var(--white-color);
    font-size: 2rem;

    transition: all ease-in-out 200ms;
}

.btn-popover:focus{
    outline: none;
}

.btn-popover:hover{
    transform: scale(1.05);
}


#enquete, #midia {
    border-radius: 5px;
    font-size: 2.4rem;
}

#enquete input{
    font-size: 1.8rem;
    padding: 10px 15px;

    background: var(--gray-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

#midia select {
    padding: 5px;
    font-size: 1.8rem;
}

.btn-add-alternativa {
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--more-light-orange-color); /* Cor do botão */
    color: var(--white-color);
    border: none;
    font-size: 1.6rem;
    border-radius: 5px;
    text-align: center;
}

.btn-add-alternativa:hover{
    background-color: var(--light-orange-color);
}

.btn-add-alternativa:focus {
    outline: none;
}

.btn-add-data {
    margin-top: 30px;
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--more-light-orange-color); /* Cor do botão */
    color: var(--white-color);
    border: none;
    font-size: 1.6rem;
    border-radius: 5px;
    text-align: center;
}

.btn-add-data:hover{
    background-color: var(--light-orange-color);
}

.btn-add-data:focus {
    outline: none;
}


.indisponivel {
    background-color: rgba(248, 169, 0, .5) !important;
    border-radius: 30px;
    color: white;
}

.btn-lista-entrar {
    border-radius: 50px;
    padding: 10px 25px;
    background-color: var(--more-light-yellow-color);

    transition: 200ms all ease-in-out;
}

.btn-lista-sair {
    border-radius: 50px;
    padding: 10px 25px;
    background-color: var(--light-yellow-color);

    transition: 200ms all ease-in-out;
}

.btn-lista-entrar:hover, .btn-lista-sair:hover {
    transform: scale(1.1);
}


.btn-lista-entrar:focus , .btn-lista-sair:focus{
    outline: none;
}

.btn-lista-entrar:focus , .btn-lista-sair:focus{
    outline: none;
}

.nome-connect-modal {
    font-size: 1.8rem;
}