html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;    
    border: none;
}

header {
    width: 100%;
    height: 0;
    display: absolute;
    position: sticky;
    top: 0;
    z-index: 3;
}

.links-header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 15px;
}

.links-header a{
    color: var(--white-color);
    margin-inline: 15px;

    transition: all ease-in-out 100ms;
}

.links-header a:hover{
    color: var(--brown-color);
    text-decoration: none;
    margin-inline: 15px;
}

.onda{
    position: absolute;
    bottom:0;
    z-index: 0;
    width: 100vw;
}

.conteudo-1{
    padding: 0;
    height: 100vh;
    min-width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/static/images/bg-laranjas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo {
    width: 175px;
}

.link-conecte {
    color: var(--white-color);
    display: block;
    width: 100%;
    background: linear-gradient(30deg, var(--orange-color), var(--orange-dark));
    padding: 10px;
    border-radius: 30px;
    transition: all 200ms ease-in-out;
    margin-top: 20px;
    margin-bottom: 15px;
}

.link-conecte:hover{
    color: var(--white-color);
    text-decoration: none;
    transform: scale(1.05);
}

.titulo {
    font-size: 4rem;
}

p{
    font-size: 2.4rem;
}

a{
    font-size: 2.4rem;
    font-weight: 500;
}

.imagem-amigos{
    z-index: 2;
}

.card-texto{
    border-radius: 40px;
    padding: 30px;
    z-index: 1;
}


.conteudo-2{
    padding: 0;
    height: 100vh;
    min-width: 100%;

    background-image: linear-gradient(var(--light-yellow-color), rgba(240, 198, 115, 0)), url("/static/images/bg-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.quadro {
    border-radius: 20px;
    background-color: var(--white-color);
    font-size: 2.4rem;
    transition: all 200ms ease-in-out;
}

.quadro:hover {
    transform: scale(1.02);
}

.titulo-quadro {
    font-size: 3.6rem;
}


.conteudo-3{
    padding: 0;
    height: 100vh;
    min-width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0, 0.3)), url("/static/images/bg-laranja-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.icone {
    height: 196px;
    border-radius: 100px;
}

.link-github {
    border-radius: 50px;
    border: 3px var(--white-color) solid;
    padding: 15px;
    color: var(--white-color);
    display: block;
    width: 100%;
    text-align: center;
    transition: all 200ms ease-in-out;
}

.link-github:hover{
    color: var(--brown-color);
    text-decoration: none;
    background: var(--white-color);
}

