html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;    
    border: none;
}

.barra-lateral{
    height: 100vh;
    position: sticky;
    font-size: 2rem;
}

.barra-lateral p{
    padding-left: 15px;
}

.barra-lateral a{
    height: 40px;
    color: var(--black-color);
    transition: ease-in-out 200ms all;
}

.barra-lateral a:hover{
    color: var(--black-color);
    text-decoration: none;

    transform: scale(1.02);
}


.barra-lateral a > img{
    height: 31px;
}


#pfp_usuario{
    height: 40px;
    border-radius: 100px;
}

.logo {
    height: 35% !important;
    width: 180px;
    margin-bottom: 40%;
}



.main{
    min-height: 100vh;
    position: static;
}

.feed-main{
    background: linear-gradient(90deg, var(--light-yellow-color), var(--light-orange-color));
}

.barra-topo {
    height: 45px;

}

.pesquisa{
    padding-inline: 25px;
    font-size: 2rem;
    border-radius: 100px;
}

.pesquisa:focus{
    outline-color: var(--gray-color);
}

.btn-pesquisa{
    position: absolute;
    top: 22%;
    right: 4%;
    z-index: 2;
    background-color: rgba(0,0,0,0);

    transition: all 200ms ease-in-out;
}

.btn-pesquisa:focus{
    outline: none;
}

.btn-pesquisa:hover{
    transform: scale(1.1);
}

.icone-pesquisa{
    height: 25px;
}




.btn-laranja {
    font-size: 2rem;
    color: var(--white-color);
    display: block;
    background: linear-gradient(30deg, var(--orange-color), var(--orange-dark));
    padding: 10px;
    border-radius: 30px;
    transition: all 200ms ease-in-out;
}

.btn-laranja:hover{
    color: var(--white-color);
    text-decoration: none;
    transform: scale(1.05);
}

.btn-laranja:focus{
    outline: none;
}

.btn-laranja-outline {
    background-color: var(--white-color);
    font-size: 2rem;
    color: var(--orange-color);
    display: block;
    border: 3px solid var(--orange-color);
    padding: 10px;
    border-radius: 30px;
    transition: all 200ms ease-in-out;
}

.btn-laranja-outline:hover{
    color: var(--white-color);
    background-color: var(--orange-color);
    transform: scale(1.05);
}

.btn-laranja-outline:focus{
    outline: none;
}

.pfp-pic{
    height: 40px;
    border-radius: 50px;
}

.username{
    font-size: 1.6rem;
}



.post{
    width: 49% !important;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-inline: 10px;
    box-sizing: border-box; 
}

.post-user{
    padding: 15px;
}

.icon-btn{
    height: 30px;
}

.btn-post{
    background: var(--white-color);
    font-size: 1.5rem;

    transition: all 200ms ease-in-out;
}

.btn-post:focus{
    outline: none;
}

.btn-post:hover{
    transform: scale(1.08);
}

.media-post{
    margin: 0;
    padding-inline: 10;
}

.pic-post{
    width: 100%;
    height: auto;
}

.btn-mais {
    height: 30px;
    background: var(--white-color);
}

.btn-mais:focus{
    outline: none;
}

.btn-mais:hover{
    transform: scale(1.08);
}


.heart-button-v {
    transition: all ease-in-out 300ms;
    
}

.heart-button-p {
    transition: all ease-in-out 300ms;
    transform: rotate(720deg);
}

.btn-denuncia{
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.8rem;
    background-color: var(--white-color);
    transition: 200ms all ease-in-out;
}

.btn-denuncia:focus{
    outline: none;
}

.btn-denuncia:hover{
    background-color: var(--gray-color);
}

label {
    font-size: 1.8rem;
}

.input-text {
    font-size: 1.8rem;
    height: 50px;
    border-radius: 9px;
    background-color: var(--gray-color);
    margin-bottom: 15px;
    padding-inline: 20px;
}

.desc-post{
    font-size: 1.4rem;
}



/*----------------------------------*/

.criar-connect-main{
    padding-block: 30px;
    background: linear-gradient(90deg, var(--light-yellow-color), var(--light-orange-color));
}

.card-criar-connect{
    padding: 30px 80px !important;
    min-height: 90%;
    height: 100%;
    border-radius: 15px;
}

.input-image{
    display: none;
}

.custom-file-button {
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--more-light-orange-color); /* Cor do botão */
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    text-align: center;
}

.custom-file-button:hover {
    background-color: var(--light-orange-color); /* Cor ao passar o mouse */
}

#amigos_select {
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.amg {
    gap: 5px;
    background-color: var(--more-light-yellow-color);
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1.7rem;
}

.amigos-selecionados{
    min-height: 30vh;
    padding-bottom: 20px;
    gap: 10px;
}

/*----------------------------------*/

.btn-modo-claro{
    border-radius: 50px;
    background-color: var(--more-light-yellow-color);
    padding: 15px;
    gap: 10px;

    transition: all 200ms ease-in-out;
}

.btn-modo-escuro{
    border-radius: 50px;
    color: var(--white-color);
    background-color: var(--dark-blue-color);
    padding: 15px;
    gap: 10px;

    transition: all 200ms ease-in-out;
}

.btn-modo-escuro:hover, .btn-modo-claro:hover {
    transform: scale(1.05);

    cursor: pointer;
}

.btn-modo-escuro:focus, .btn-modo-claro:focus {
    outline: none;
}

.btn-modo-escuro p, .btn-modo-claro p  {
    margin: 0;
    font-size: 1.8rem;
}