<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- calendar links -->
    <link rel="stylesheet" href="/static/calendar/css/rome.css">


    
    <link rel="stylesheet" href="/static/css/variaveis.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>    
<body>
    
    <div class="container-fluid d-flex p-0">
        <div class="py-5 col-2 barra-lateral d-flex flex-column justify-content-between align-items-center">
            
            <div class="profile-logo h-50">
                <img class="row logo" src="/static/icons/logo-nome-v.svg" alt="logo amigosConnect">

                <a href="" class="row d-flex justify-content-start align-items-center">
                    <img id="pfp_usuario" src="/static/icons/Generic avatar.svg" alt="foto do usuário">
                    <p id="nome_usuario">@{{usuario.nomeUsuario}}</p>
                </a>
            </div>

            <div class="abas h-25">
                <a href="" class="row pb-5 d-flex justify-content-start align-items-center">
                    <img src="/static/icons/people.svg" alt="ícone de pessoas">
                    <p>amigos</p>
                </a>

                <a href="" class="row pt-5 d-flex justify-content-start align-items-center">
                    <img src="/static/icons/chat_bubble_fill.svg" alt="ícone de chat">
                    <p>meus connects</p>
                </a>
            </div>

            <div class="config h-25">
                <a href="" class="row pb-5 d-flex justify-content-start align-items-center">
                    <img src="/static/icons/settings.svg" alt="ícone de engrenagem">
                    <p>configurações</p>
                </a>

                <a href="" class="row pt-5 d-flex justify-content-start align-items-center">
                    <img src="/static/icons/logout.svg" alt="ícone de saída">
                    <p>sair</p>
                </a>
            </div>

        </div>

        
        <div class="col-10 chat-main d-flex flex-column justify-content-start align-items-center p-0">
            <div class="row barra-topo mt-3 mx-5 p-3 d-flex justify-content-between align-items-center bg-white">
                
                <div class="col h-100 connect-info d-flex justify-content-start align-items-center">
                    <img class="img-connect" src="data:image/png;base64,{{ connect.fotoConnect }} alt="imagem padrão do connect">
                    <p class="nome-connect m-0">{{connect.nomeConnect}}</p>
                </div>

                <div class="col h-100 connect-actions d-flex justify-content-end align-items-center">
                    <a class="btn-laranja px-5 mr-3 d-flex" href="/templates/participantes.html">
                        <img class="icon-btn" src="/static/icons/pessoa.svg" alt="icone de pessoa">
                        <p class="m-0">Participantes</p>
                    </a>
                    <a class="btn-laranja-redondo" href="/templates/info-connect.html">
                        <img class="icon-btn" src="/static/icons/info.svg" alt="icone de mais informações">
                    </a>
                </div>
            </div>

            <div class="row chat">
                {% for mensagem in mensagens %}
                    <div class="recebida p-3 d-flex">
                        <div class="mensagem p-3">
                            <div class="row w-100 m-0">
                                <img class="pfp-pic-msg mr-3" src="/static/icons/Generic avatar.svg" alt="foto de perfil">
                                <p class="user-msg">{{mensagem.nomeUsuario}}</p>
                            </div>
        
                            <div class="row w-100 m-0 conteudo">
                                <p> {{mensagem.textoMensagem}} </p>
                            </div>
        
                            <div class="row hora-msg w-100 m-0 d-flex justify-content-end align-items-end">
                                <p class="m-0">{{mensagem.dataEnvio}}</p>
                            </div>
                        </div>
                    </div>  
                {% endfor %}
            </div>

            <div class="row barra-mensagem w-100  d-flex justify-content-center align-items-end">
                <form class="d-flex justify-content-center align-items-center " action="" method="post">

                    <button type="button" class="btn-barra-msg mr-3" data-toggle="popover" data-content='
                        <div class="p-3 d-flex flex-column justify-content-start align-items-start">
                            <button data-toggle="modal" data-target="#calendario" class="btn-popover d-flex justify-content-between align-items-center p-3" type="button">
                                <img class="icon-btn pr-3" src="/static/icons/calendario.svg" alt="icone de calendario">
                                calendário
                            </button>

                            <button data-toggle="modal" data-target="#enquete" class="btn-popover d-flex justify-content-between align-items-center p-3" type="button">
                                <img class="icon-btn pr-3" src="/static/icons/enquete.svg" alt="icone de enquete">
                                enquete
                            </button>

                            <button data-toggle="modal" data-target="#midia" class="btn-popover d-flex justify-content-between align-items-center p-3" type="button">
                                <img class="icon-btn pr-3" src="/static/icons/attach_file.svg" alt="icone de adicionar mídia">
                                mídia
                            </button>
                        </div>
                        '>
                        <img class="icon-btn" src="/static/icons/addb.svg" alt="icone de mais opções">
                    </button>

                    <input class="mr-3" type="text" name="input-mensagem" id="input_mensagem" alt="icone de enviar">

                    <button type="button" id="btn_enviar">
                        <img class="btn-barra-msg icon-btn p-1" src="/static/icons/Send.svg" alt="icone de enviar">
                    </button>
                </form>
            </div>
                
        </div>
    </div>

    <!-- Modal criar enquete -->
    <div class="modal fade" id="enquete" tabindex="-1" role="dialog" aria-labelledby="modal de criar enquete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header p-4">
                    <h1 class="modal-title" id="titulo_modal_enquete">Criar enquete</h1>
                    <button type="button" class="close close-enquete" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 3rem;" aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="" method="post" class="p-5 modal-body d-flex flex-column align-items-start justify-content-center">
                  
                        <label class="mt-3" for="nome">Nome da enquete:</label>
                        <input class="input-text w-100" type="text" name="nome" id="nome" placeholder="Digite o que será votado">
                    
                        <div class="alternativas-adicionadas w-100">
                            <!-- aqui precisa colocar o id da enquete tá -->
                            <span class="d-flex justify-content-between w-100">
                                <label class="mt-3" for="enquete_a1">Alternativa 1:</label>
                                <input type="text" name="alternativa-1" id="enquete_a1">
                            </span>

                            <span class="d-flex justify-content-between w-100">
                                <label class="mt-3" for="enquete_a2">Alternativa 2:</label>
                                <input type="text" name="alternativa-2" id="enquete_a2">
                            </span>
                        </div>

                        <button class="btn-add-alternativa" type="button">adicionar alternativa</button>


                </form>

                <div class="modal-footer p-3">
                    <button type="button" class="px-5 btn-laranja-outline cancelar-enquete" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="px-5 btn-laranja">Criar enquete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal adicionar midia -->
    <div class="modal fade" id="midia" tabindex="-1" role="dialog" aria-labelledby="modal de adicionar midia" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="titulo_modal_midia">Adicionar mídia</h1>
                    <button type="button" class="close close-midia" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 3rem;" aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="" method="post" class="modal-body d-flex flex-column align-items-start justify-content-center">

                    <label for="tipo_midia">Selecione o tipo de mídia</label>
                    <select name="tipo-midia" id="tipo_midia">
                        <option value="foto">foto</option>
                        <option value="video">vídeo</option>
                        <option value="gif">gif</option>
                    </select>
                  
                    <label class="mt-3 w-50">Arquivo de mídia:</label>
                            
                    <label for="arquivo_chat" class="w-100 custom-file-button">Escolher arquivo</label>
                    <input class="input-image w-100" type="file" accept="*/*" name="arquivo-chat" id="arquivo_chat">
                </form>

                <div class="modal-footer p-3">
                    <button type="button" class="px-5 btn-laranja-outline cancelar" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="px-5 btn-laranja">Enviar mídia</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal ver calendario -->
    <div class="modal fade" id="calendario" tabindex="-1" role="dialog" aria-labelledby="modal de ver calendario" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header p-4">
                    <h1 class="modal-title" id="titulo_modal_calendario">Ver calendario</h1>
                    <button type="button" class="close close-calendario" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 3rem;" aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="p-5 modal-body d-flex flex-column align-items-center justify-content-center">
                
                    <div class="row justify-content-center w-100">
                        <div class="col text-center">
                          <input type="text" class="form-control w-25 mx-auto mb-3" id="result" placeholder="Select date" disabled="">
                            <form action="#" class="row">
                                <div class="col-md-12">
                                    <div id="inline_cal"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                   
                    <button class="btn-add-data" type="button">adicionar data indiponível</button>
                </div>

                <div class="modal-footer p-3">
                    <button type="button" class="px-5 btn-laranja-outline cancelar-enquete" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="px-5 btn-laranja">Confirmar</button>
                </div>
            </div>
        </div>
    </div>



    <script src="/static/js/chat.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- calendar js -->
    <script src="/static/calendar/js/rome.js"></script>
    <script src="/static/calendar/js/main.js"></script>

    <!-- script pra ativar funções do bootstrap -->
    <script>
        $(function () {
          $('.btn-barra-msg').popover({
            container: 'body',
            html:true
          });
        });

        $('#calendario').on('shown.bs.modal', function () {
            $('[data-toggle="popover"]').popover('hide');
            
        })

        $('#enquete').on('shown.bs.modal', function () {
            $('[data-toggle="popover"]').popover('hide');
            
        })

        $('#midia').on('shown.bs.modal', function () {
            $('[data-toggle="popover"]').popover('hide');
            
        })
    </script>
</body>
</html>
