<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>

    <link rel="stylesheet" href="/static/css/variaveis.css">
    <link rel="stylesheet" href="../static/css/principal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>    
<body>
    
    <div class="container-fluid d-flex main p-0">
        <div class="py-5 col-2 barra-lateral d-flex flex-column justify-content-between align-items-center">
            
            <div class="profile-logo h-50">
                <img class="row logo" src="/static/icons/logo-nome-v.svg" alt="logo amigosConnect">

                <a href="" class="row d-flex justify-content-start align-items-center">

                    <img id="pfp_usuario" src="/static/icons/Generic avatar.svg" alt="foto do usuário">
                    <p>@{{usuario.nomeUsuario}}</p>

                </a>
            </div>

            <div class="abas h-25">
                <a href="" class="row pb-5 d-flex justify-content-start align-items-center">
                    <img src="/static/icons/people.svg" alt="ícone de pessoas">
                    <p>Amigos</p>
                </a>

                <a href="/meus-connects.html" class="row pt-5 d-flex justify-content-start align-items-center">
                    <img src="/static/icons/chat_bubble_fill.svg" alt="ícone de chat">
                    <p>Meus Connects</p>
                </a>
            </div>

            <div class="config h-25">
                <a href="/configuracoes.html" class="row pb-5 d-flex justify-content-start align-items-center">
                    <img src="/static/icons/settings.svg" alt="ícone de engrenagem">
                    <p>Configurações</p>
                </a>

                <a href="login.html" class="row pt-5 d-flex justify-content-start align-items-center">
                    <img src="/static/icons/logout.svg" alt="ícone de saída">
                    <p>Sair</p>
                </a>
            </div>

        </div>


        <div class="col-10 feed-main">
            <div class="container w-100">
                <div class="row w-100 barra-topo my-5 d-flex justify-content-center align-items-center">
                    <div class="col h-100">
                        <form class="h-100" action="">
                            <input class="pesquisa w-100 h-100" type="text" placeholder="Buscar ...">
                            <button class="btn-pesquisa" type="submit">
                                <img class="icone-pesquisa" src="/static/icons/search.svg" alt="icone do botão de pesquisa">
                            </button>
                        </form>
                    </div>
                    <div class="col-3 h-100 w-100">
                        <a class="btn-laranja d-flex justify-content-center align-items-center h-100" href="/criar-connect.html">
                            <img class="mr-3" src="/static/icons/addb.svg" alt="icone de adicionar">
                            Criar connect
                        </a>
                    </div>
                </div>
                <div class="row w-100 posts d-flex justify-content-between align-items-center">

                    <!--post-->
                    <div class="post bg-white mb-4">
                        <div class="row d-flex post-user p-3 align-items-center">
                            <div class="col d-flex align-items-center">
                                <img src="/static/team/joao.jpeg" alt="" class="pfp-pic">
                                <p class="username ml-3 mb-0">@joaomontlix</p>                                    
                            </div>

                            <div class="col-1 mr-3">
                                <button class="btn-mais" data-toggle="popover" data-content='
                                <div class="popover-denuncia">
                                    <button class="btn-denuncia" data-toggle="modal" data-target="#denuncia">Denunciar publicação</button>
                                </div>
                                '>
                                    <img src="/static/icons/bolas.svg" alt="bolinhas verticais para abrir aba" class="icon-btn" >
                                </button>
                            </div>
                        </div>

                        <div class="row media-post px-3">
                            <img class="pic-post" src="/static/images/aniversario.jpg" alt="">
                        </div>

                        <div class="row d-flex post-btns mt-4 mx-0">
                            <button class="heart-button col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/heart.svg" alt="icone de coração do like" class="icon-btn">
                                <p class="nro ml-2">12</p>
                            </button>

                            <button class="col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/chat_bubble_outline.svg" alt="" class="icon-btn">
                                <p class="nro ml-2">14</p>
                            </button>
                        </div>
                        
                        <div class="row w-100">
                            <p class="col pt-4 desc-post">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam voluptas eligendi repudiandae nulla excepturi vero porro, blanditiis, accusantium architecto nemo inventore. Dignissimos laboriosam, velit esse vitae facere deleniti eveniet.
                            </p>
                        </div>
                    </div>
                    
                    <!--post-->
                    <div class="post bg-white mb-4">
                        <div class="row d-flex post-user p-3 align-items-center">
                            <div class="col d-flex align-items-center">
                                <img src="/static/team/maris.jpg" alt="" class="pfp-pic">
                                <p class="username ml-3 mb-0">@maris2606</p>                                    
                            </div>

                            <div class="col-1 mr-3">
                                <button class="btn-mais"  data-toggle="popover" data-content='
                                <div class="popover-denuncia">
                                    <button class="btn-denuncia" data-toggle="modal" data-target="#denuncia">Denunciar publicação</button>
                                </div>
                                '>
                                    <img src="/static/icons/bolas.svg" alt="bolinhas verticais para abrir aba" class="icon-btn" >
                                </button>
                            </div>
                        </div>

                        <div class="row media-post px-3">
                            <img class="pic-post" src="/static/images/festa-ano-novo.jpg" alt="">
                        </div>

                        <div class="row d-flex post-btns mt-4 mx-0">
                            <button class="heart-button col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/heart.svg" alt="icone de coração do like" class="icon-btn">
                                <p class="nro ml-2">123</p>
                            </button>
                            <button class="col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/chat_bubble_outline.svg" alt="" class="icon-btn">
                                <p class="nro ml-2">24</p>
                            </button>
                        </div>
                        
                        <div class="row w-100">
                            <p class="col pt-4 desc-post">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam voluptas eligendi repudiandae nulla excepturi vero porro, blanditiis, accusantium architecto nemo inventore. Dignissimos laboriosam, velit esse vitae facere deleniti eveniet.
                            </p>
                        </div>
                    </div>
                    
                    <!--post-->
                    <div class="post bg-white mb-4">
                        <div class="row d-flex post-user p-3 align-items-center">
                            <div class="col d-flex align-items-center">
                                <img src="/static/team/millena.jpeg" alt="" class="pfp-pic">
                                <p class="username ml-3 mb-0">@mihcup</p>                                    
                            </div>

                            <div class="col-1 mr-3">
                                <button class="btn-mais"  data-toggle="popover" data-content='
                                <div class="popover-denuncia">
                                    <button class="btn-denuncia" data-toggle="modal" data-target="#denuncia">Denunciar publicação</button>
                                </div>
                                '>
                                    <img src="/static/icons/bolas.svg" alt="bolinhas verticais para abrir aba" class="icon-btn" >
                                </button>
                            </div>
                        </div>

                        <div class="row media-post px-3">
                            <img class="pic-post" src="/static/images/lanche.jpg" alt="">
                        </div>

                        <div class="row d-flex post-btns mt-4 mx-0">
                            <button class="heart-button col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/heart.svg" alt="icone de coração do like" class="icon-btn">
                                <p class="nro ml-2">36</p>
                            </button>
                            <button class="col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/chat_bubble_outline.svg" alt="" class="icon-btn">
                                <p class="nro ml-2">523</p>
                            </button>
                        </div>
                        
                        <div class="row w-100">
                            <p class="col pt-4 desc-post">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam voluptas eligendi repudiandae nulla excepturi vero porro, blanditiis, accusantium architecto nemo inventore. Dignissimos laboriosam, velit esse vitae facere deleniti eveniet.
                            </p>
                        </div>
                    </div>
                    
                    <!--post-->
                    <div class="post bg-white mb-4">
                        <div class="row d-flex post-user p-3 align-items-center">
                            <div class="col d-flex align-items-center">
                                <img src="/static/team/joao.jpeg" alt="" class="pfp-pic">
                                <p class="username ml-3 mb-0">@joaomontlix</p>                                    
                            </div>

                            <div class="col-1 mr-3">
                                <button class="btn-mais"  data-toggle="popover" data-content='
                                <div class="popover-denuncia">
                                    <button class="btn-denuncia" data-toggle="modal" data-target="#denuncia">Denunciar publicação</button>
                                </div>
                                '>
                                    <img src="/static/icons/bolas.svg" alt="bolinhas verticais para abrir aba" class="icon-btn" >
                                </button>
                            </div>
                        </div>

                        <div class="row media-post px-3">
                            <img class="pic-post" src="/static/images/picnic.jpg" alt="">
                        </div>

                        <div class="row d-flex post-btns mt-4 mx-0">
                            <button class="heart-button col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/heart.svg" alt="icone de coração do like" class="icon-btn">
                                <p class="nro ml-2">24</p>
                            </button>
                            <button class="col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/chat_bubble_outline.svg" alt="" class="icon-btn">
                                <p class="nro ml-2">236</p>
                            </button>
                        </div>
                        
                        <div class="row w-100">
                            <p class="col pt-4 desc-post">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam voluptas eligendi repudiandae nulla excepturi vero porro, blanditiis, accusantium architecto nemo inventore. Dignissimos laboriosam, velit esse vitae facere deleniti eveniet.
                            </p>
                        </div>
                    </div>
                    
                    <!--post-->
                    <div class="post bg-white mb-4">
                        <div class="row d-flex post-user p-3 align-items-center">
                            <div class="col d-flex align-items-center">
                                <img src="/static/team/jossana.jpg" alt="" class="pfp-pic">
                                <p class="username ml-3 mb-0">@tjomarques</p>                                    
                            </div>

                            <div class="col-1 mr-3">
                                <button class="btn-mais"  data-toggle="popover" data-content='
                                <div class="popover-denuncia">
                                    <button class="btn-denuncia" data-toggle="modal" data-target="#denuncia">Denunciar publicação</button>
                                </div>
                                '>
                                    <img src="/static/icons/bolas.svg" alt="bolinhas verticais para abrir aba" class="icon-btn" >
                                </button>
                            </div>
                        </div>

                        <div class="row media-post px-3">
                            <img class="pic-post" src="/static/images/por-do-sol.jpg" alt="">
                        </div>

                        <div class="row d-flex post-btns mt-4 mx-0">
                            <button class="heart-button col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/heart.svg" alt="icone de coração do like" class="icon-btn">
                                <p class="nro ml-2">93</p>
                            </button>
                            <button class="col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/chat_bubble_outline.svg" alt="" class="icon-btn">
                                <p class="nro ml-2">24</p>
                            </button>
                        </div>
                        
                        <div class="row w-100">
                            <p class="col pt-4 desc-post">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam voluptas eligendi repudiandae nulla excepturi vero porro, blanditiis, accusantium architecto nemo inventore. Dignissimos laboriosam, velit esse vitae facere deleniti eveniet.
                            </p>
                        </div>
                    </div>
                    
                    <!--post-->
                    <div class="post bg-white mb-4">
                        <div class="row d-flex post-user p-3 align-items-center">
                            <div class="col d-flex align-items-center">
                                <img src="/static/team/maris.jpg" alt="" class="pfp-pic">
                                <p class="username ml-3 mb-0">@maris2606</p>                                    
                            </div>

                            <div class="col-1 mr-3">
                                <button class="btn-mais"  data-toggle="popover" data-content='
                                <div class="popover-denuncia">
                                    <button class="btn-denuncia" data-toggle="modal" data-target="#denuncia">Denunciar publicação</button>
                                </div>
                                '>
                                    <img src="/static/icons/bolas.svg" alt="bolinhas verticais para abrir aba" class="icon-btn" >
                                </button>
                            </div>
                        </div>

                        <div class="row media-post px-3">
                            <img class="pic-post" src="/static/images/picnic2.jpg" alt="">
                        </div>

                        <div class="row d-flex post-btns mt-4 mx-0">
                            <button class="heart-button col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/heart.svg" alt="icone de coração do like" class="icon-btn">
                                <p class="nro ml-2">25</p>
                            </button>
                            <button class="col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/chat_bubble_outline.svg" alt="" class="icon-btn">
                                <p class="nro ml-2">11</p>
                            </button>
                        </div>                    
                        
                        <div class="row w-100">
                            <p class="col pt-4 desc-post">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam voluptas eligendi repudiandae nulla excepturi vero porro, blanditiis, accusantium architecto nemo inventore. Dignissimos laboriosam, velit esse vitae facere deleniti eveniet.
                            </p>
                        </div>
                    </div>

                    <!--post-->
                    <div class="post bg-white mb-4">
                        <div class="row d-flex post-user p-3 align-items-center">
                            <div class="col d-flex align-items-center">
                                <img src="/static/team/millena.jpeg" alt="" class="pfp-pic">
                                <p class="username ml-3 mb-0">@millena</p>                                    
                            </div>

                            <div class="col-1 mr-3">
                                <button class="btn-mais"  data-toggle="popover" data-content='
                                <div class="popover-denuncia">
                                    <button class="btn-denuncia" data-toggle="modal" data-target="#denuncia">Denunciar publicação</button>
                                </div>
                                '>
                                    <img src="/static/icons/bolas.svg" alt="bolinhas verticais para abrir aba" class="icon-btn" >
                                </button>
                            </div>
                        </div>

                        <div class="row media-post px-3">
                            <img class="pic-post" src="/static/images/praia.jpg" alt="">
                        </div>

                        <div class="row d-flex post-btns mt-4 mx-0">
                            <button class="heart-button col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/heart.svg" alt="icone de coração do like" class="icon-btn">
                                <p class="nro ml-2">15</p>
                            </button>
                            <button class="col-3 btn-post d-flex align-items-center">
                                <img src="/static/icons/chat_bubble_outline.svg" alt="" class="icon-btn">
                                <p class="nro ml-2">131</p>
                            </button>
                        </div>
                        
                        <div class="row w-100">
                            <p class="col pt-4 desc-post">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam voluptas eligendi repudiandae nulla excepturi vero porro, blanditiis, accusantium architecto nemo inventore. Dignissimos laboriosam, velit esse vitae facere deleniti eveniet.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="denuncia" tabindex="-1" role="dialog" aria-labelledby="modal de denuncia" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="titulo_modal_denuncia">Denunciar publicação</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 3rem;" aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="" method="post" class="modal-body d-flex flex-column align-items-start justify-content-center">
                  
                        <label class="mt-3" for="nome">Nome completo:</label>
                        <input class="input-text w-100" type="text" name="nome" id="nome" placeholder="Digite seu nome completo">
                    
                        <label class="mt-3" for="desc_denuncia">Motivo da denúncia:</label>
                        <input class="input-text w-100" type="text" name="desc-denuncia" id="desc_denuncia" placeholder="Digite o motivo da denúncia">
                    
                </form>

                <div class="modal-footer p-3">
                    <button type="button" class="px-5 btn-laranja-outline cancelar" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="px-5 btn-laranja">Enviar denúncia</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/feed.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(function () {
          $('.btn-mais').popover({
            container: 'body',
            html:true
          });
        });

        $('#denuncia').on('shown.bs.modal', function () {
            $('[data-toggle="popover"]').popover('hide');
            $('#denuncia').stopPropagation();
        })
    </script>
</body>
</html>
